/*font-family: 'Goldman', cursive;
font-family: 'Poppins', sans-serif;*/
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

h2 {
  color: #ff4422;
  font-weight: 900;
  font-size: 25px;
}

.goldman {
  font-family: 'Goldman', cursive;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
}

.nav-1 {
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  padding: 9px 15px;
  font-size: 12.5px;
}

.a-no-dec {
  text-decoration: none;
}

.nav-1-left-white,
.nav-1-left-a,
.nav-1-right-a,
.nav-2-left-a {
  margin: 0 5px;
}

.flex {
  display: flex;
}

.nav-1-left-white {
  color: #f3f3f3;
}

.gray-font {
  color: #929292;
}

.nav-1-icon {
  margin-left: 5px;
}

.nav-2 {
  font-family: 'Goldman', cursive;
  background-color: white;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
}

.nav-2-left {
  padding: 18px 0 18px 20px;
}

.nav-2-right {
  padding: 17px 15px;
  border-left: 1px solid#f1f1f1;
  font-size: 15px;
}

.search-a {
  color: #bfbfbf;
}

/* Section 1 */
.sec-1 {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "main main art1"
    "main main art2";
  grid-gap: 6px;
  padding-top: 7px;
  margin: 0 7px;
}

.main-art {
  cursor: pointer;
  grid-area: main;
  background-image: url("../img/cover-gradient.png"),
    url("../img/darkbg.jpg");
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

.sec1-art-1,
.sec1-art-2 {
  cursor: pointer;
  background-image:
    /*url("../img/img-gradient-black.png"),*/
    url("../img/darkbg.jpg");
}

.main-art,
.sec1-art-1,
.sec1-art-2 {
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec1-art-1 {
  grid-area: art1;
  align-items: flex-end;
}

.sec1-art-2 {
  grid-area: art2;
}

.logo-img {
  display: block;
  width: 400px;
  height: auto;
}

.main-art-hashtag,
.main-art-title,
.main-art-author-date {
  margin-left: 20px;
}

.main-art-date {
  text-align: right;
  margin: 20px;
  font-size: 13px;
}

.main-art-hashtag {
  grid-column: 1 / -1;
  margin-top: 212px;
  font-family: 'Goldman', cursive;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.main-art-title {
  grid-column: 1 / -1;
  font-size: 45px;
  font-weight: 900;
}

.main-art-author-date {
  color: #9c9b9b;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 14px;
}

.little-hashtag {
  font-size: 15px;
}

.little-title {
  font-size: 20px;
  font-weight: 900;
  margin-right: 10px;
}

.little-author {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Section 2 */
.sec2-h2 {
  grid-column: 1 / -1;
  margin-left: 25px;
  margin-top: 50px;
}

.sec-2,
.sec-3,
.sec-4,
.sec-5 {
  margin: 60px 0px;
}

.sec-2-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 22px;
}

.sec-2-article {
  max-width: 270px;
  cursor: pointer;
  justify-self: center;
}

.sec-2-img {
  width: 100%;
  height: auto;
}

.sec-2-title {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}

.sec-2-author {
  color: #aeaeae;
  font-size: 12px;
  margin-top: 10px;
}

/* Section 3 */
.sec-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.sec-3-article {
  position: relative;

}

.sec-3-div {
  grid-column: 1 / -1;
  justify-content: space-between;
  align-items: center;
}

.div-sec3-right>p,
.div-sec3-right>p>a {
  color: #ff4f2f;
}

.sec-3-img {
  width: 60px;
  height: auto;
  position: absolute;
  left: 10px;
  top: 10px;
}

.sec-3-header-1 {
  background-color: #ff4422;
  color: white;
  font-weight: bold;
  padding: 10px 0 10px 80px;
}

.sec-3-header-2 {
  background-color: #ffeBe8;
  padding: 10px 0 10px 80px;
}

.sec-3-hp2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sec-3-hp3 {
  font-size: 12px;
  font-family: 'Goldman', cursive;
  color: #807674;
}

.sec-3-body {
  background-color: #fffAf8;
  padding: 15px 10px;
}

.hr1 {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ffccc3;
  margin: 1em 0;
  padding: 0;
}

.sec-3-p1 {
  font-size: 13px;
  margin-left: 10px;
}

.sec-3-p2 {
  padding: 0 15px 10px 15px;
  cursor: pointer;
  font-size: 11px;
  line-height: 20px;
  color: #5C5B5B;
}

.sec-3-span {
  color: #BEBDBC;
}

.sec-3-tag {
  margin-right: 10px;
}

.m-top {
  margin-top: 10px;
}

/* Section 4 */
.sec-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.sec4-hashtag {
  font-size: 13px;
  padding-top: 160px;
  margin-top: 20px;
}

.sec4-title {
  font-size: 15px;
}

.sec4-author {
  font-size: 12px;
  margin-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;

}

.article-sec-4 {
  cursor: pointer;
}

.bg-orange {
  padding: 10px;
  background-color: #fff4f2;
  color: #ff4422;
}

.sec-4-p1 {
  margin: 10px 0;
}

.bg-orange-img {
  width: 95px;
  height: auto;
}

.bg-white-ul {
  margin: 10px;
  list-style-type: disc;
}

.bg-white-ul>li,
.bg-white-ul>hr {
  color: #9a9a9a;
  font-size: 12px;
  line-height: 20px;
}

/* Section 5 */
.sec-5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

.sec-5-h2 {
  grid-column: 1 / -1;
}

.sec-5-img {
  width: 270px;
  height: 200px;
  margin-top: 30px;
}

.sec5-h3 {
  margin: 10px 0;
  font-size: 15px;
  font-weight: bolder;
  line-height: 20px;
}

.sec5-price {
  justify-content: left;
}

.price-1 {
  font-size: 12px;
  text-decoration: line-through;
  color: #aaa;
  margin-right: 10px;
}

.price-2 {
  font-size: 15px;
}

.sec5-article {
  cursor: pointer;
}

/* Footer */
footer {
  position: relative;
}

.footer-1 {
  background-color: #131313;
  color: #939393;
  padding-bottom: 35px;
}

.footer-2 {
  background-color: black;
  color: #939393;
}

.footer-icons {
  justify-content: center;
  padding: 30px;
}

.footer-icons>i {
  background-color: #333;
  border-radius: 50%;
  padding: 10px;
  color: white;
  font-size: 17px;
  margin-right: 17px;
}

.f1-options {
  justify-content: center;
  font-size: 15px;
}

.f1-options>p {
  margin-right: 14px;
}

.footer-2 {
  padding: 40px;
}

.f2-p {
  font-size: 13px;
  text-align: center;
  color: #aaa;
}

.i-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: white;
  background-color: #146ff8;
  border-radius: 50%;
  padding: 12px 17px;
  font-size: 25px;
}
